html, body{
    padding: 0;
    margin: 0;
    font-family: monospace;
    background: #272822;
    color: #f8f8f2;
}
h1{
    text-align: center;
    width: 100%;
    margin: 0;
    padding-bottom: 5px;
}
h1 strong{
    font-size: 40px;
}
footer{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
a{
    color: #89bad2;
}
.main_body{
    min-height: calc(100vh - 150px);
    width: 100%;
    display: inline-block;
}
#icon_clean_source{
    position: absolute;
    top: 72px;
    left: calc(50% - 10px);
    cursor: pointer;
    z-index: 100;
}
#icon_clean_source img{
    width: 20px;
}
.main_part{
    display: none;
    width: calc(50% - 80px);
    padding: 20px;
    margin: auto;
    float: left;
    vertical-align: top;
    display: inline-block;
    outline: none;
}
.CodeMirror{
    float: left;
}
.mini_logo{
    width: 18px;
    vertical-align: bottom;
}
.buttons_box{
    padding: 0px 20px 10px 20px;
    margin-top: -10px;
}
.button_source{
    background: transparent;
    border: 1px solid #ddd;
    color: #ddd;
    cursor: pointer;
    outline: none;
}
.button_source:hover{
    background: rgba(255, 255, 255, 0.1);
}
.button_source:active{
    background: rgba(255, 255, 255, 0.2);
}
.button_source.selected{
    background: rgba(255, 255, 255, 0.2);
}
@media all and (max-width: 700px) {
    .CodeMirror{
        width: 100% !important;
    }
    #icon_clean_source{
        left: auto;
        right: 1px;
    }
}